<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div style="text-align: center;">
    <h1>Sorry for the inconvenience.</h1>
    <p>Please try after some time.</p>
    </div>

<%- include('includes/end.ejs') %>